@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
}
@using WebSaleCable.Shared

<div id="fb-root"></div>
<div class="slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div id="home-slider">
                    <div class="header-top-right">
                        <div class="homeslider">
                            <ul id="contenhomeslider">
                                @{
                                    var listSlider = Session["SliderSession"] as List<WebSaleCable.Shared.Model.SliderSession>;
                                    if (listSlider != null && listSlider.Any())
                                    {
                                        foreach (var item in listSlider)
                                        {
                                            <li>
                                                <a href="#">
                                                    <img class="img-responsive" alt="01" src="@Url.Content("~/Images/silder/"+item.ImageUrl)">
                                                </a>
                                            </li>
                                        }
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <!--Begin-->
                <!--End-->
            </div>
        </div>
    </div>
</div>

<div class="listCate">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" @*id="box-vertical-megamenus"*@>
                <div class="box-vertical-megamenus menu-quick-select">
                    <h4 class="title click-menu">
                        <span class="title-menu">Danh mục sản phẩm</span>
                    </h4>
                    <div class="vertical-menu-content is-home">
                        <ul class='vertical-menu-list'>
                            <li class="level0">
                                <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Thời trang</span></a>
                            </li>
                            <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Điện thoại & Ipad</span></a></li>
                            <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mỹ phẩm</span></a></li>
                            <li class="level0">
                                <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Thể thao</span></a>
                            </li>
                            <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mẹ và bé</span></a></li>
                            <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Phụ kiện công nghệ</span></a></li>
                            <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Laptop</span></a></li>
                            <li class="level0">
                                <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Trang sức</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">Table price</div>
        </div>
    </div>
</div>


<div class="adv">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content">
                    <h2 class="page-heading">
                        <span class="page-heading-title">
                            Danh sách sản phẩm
                        </span>
                    </h2>
                    <div id="products" class="list-group">
                        @Html.Partial("_ListItem")
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowView(url) {
        ShowViewOrEdit(url);
        return false;
    }

    function ShowViewOrEdit(action) {
        $.ajax({
            url: action,
            beforeSend: function () {
                //$(".se-pre-con").show();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
               // $(".se-pre-con").hide();
            },
            success: function (html) {
               // $(".se-pre-con").hide();
                ShowDetail(html);
            }
        });
    }

    function ShowDetail(content) {
        $(".list-group").html(content);
    }
</script>