    <script src="/Scripts/common/login.js" type="text/javascript"></script>
    <section class="top-link clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav topmenu-contact pull-left">
                        <li><i class="fa fa-phone"></i> <span>Hotline: 0988 701 899</span></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                        <li class="account-login"><a href="/dang-nhap.html"><i class="fa fa-sign-in"></i> Đăng nhập </a></li>
                        <li class="account-register"><a href="/dang-ky.html"><i class="fa fa-key"></i> Đăng ký </a></li>
                    </ul>
                    <div class="show-mobile hidden-lg hidden-md">
                        <div class="quick-user">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="login links">
                                    <li>
                                        <a href="/dang-ky.html"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                    </li>
                                    <li>
                                        <a href="/dang-nhap.html"><i class="fa fa-key"></i> Đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 logo">
                <a href="/" class="logo" title="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM">
                    <img src="@Url.Content("~/Images/logo.png")" alt="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM" title="CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM" style="width:30%">
                </a>
                <h1 style="display: none;">
                    CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM
                </h1>
            </div>
            <div class="col-xs-7 col-sm-7 header-search-box">
                <div class="search-box">
                    <form class="search form-inline">
                        <div class="input-serach">
                            <input type="text" name="search" class="search_box" id="txtsearch" onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                                   onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''" value="Nhập từ kh&#243;a t&#236;m kiếm..." />
                        </div>
                        <button id="btnsearch" class="pull-right btn-search">
                            <span class="hidden-400">Tìm kiếm</span>
                            <span class="show-400"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xs-5 col-sm-2 group-button-header new-login">
                <a title="Đăng nhập" href="/dang-nhap.html" class="btn-heart"></a>
            </div>
        </div>
    </div>

    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="box-vertical-megamenus">
                    <div class="box-vertical-megamenus menu-quick-select">
                        <h4 class="title click-menu">
                            <span class="title-menu">Danh mục sản phẩm</span>
                            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                        </h4>
                        <div class="vertical-menu-content is-home">
                            <ul class='vertical-menu-list'>
                                <li class="level0">
                                    <a class='' href='http://phukienquare.com/bang-gia-si-j852/'><span>Bảng báo giá</span></a>
                                </li>
                                <li class="level0">
                                    <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Thời trang</span></a>
                                </li>
                                <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Điện thoại & Ipad</span></a></li>
                                <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mỹ phẩm</span></a></li>
                                <li class="level0">
                                    <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Thể thao</span></a>
                                </li>
                                <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mẹ và bé</span></a></li>
                                <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Phụ kiện công nghệ</span></a></li>
                                <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Laptop</span></a></li>
                                <li class="level0">
                                    <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Trang sức</span></a>
                                </li>
                                <li class="level0">
                                    <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Sản phẩm khác...</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main-menu-new" class="col-sm-9 col-md-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#new-menu" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="new-menu" class="navbar-collapse collapse" style="margin-left: 14px; ">
                                <ul class='menu t-menu nav'>
                                    <li class="level0"><a class='' href='/trang-chu.html'><span>Trang chủ</span></a></li>
                                    <li class="level0"><a class='' href='/gioi-thieu.html'><span>Giới thiệu</span></a></li>
                                    <li class="level0"><a class='' href='/san-pham.html'><span>Sản phẩm</span></a></li>
                                    <li class="level0"><a class='' href='/tin-tuc.html'><span>Tin tức</span></a></li>
                                    <li class="level0"><a class='' href='/lien-he.html'><span>Liên hệ</span></a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
        </div>
    </div>
    <script type="text/javascript">
                $("#btnsearch1").click(function () {
                    SearchProduct1();
                });
                $("#txtsearch1").keydown(function (event) {
                    if (event.keyCode == 13) {
                        SearchProduct1();
                    }
                });
                function SearchProduct1() {
                    var key = $('#txtsearch1').val();
                    if (key == '' || key == 'Tìm kiếm...') {
                        $('#txtsearch1').focus();
                        return;
                    }
                    window.location = '/tim-kiem.html?key=' + key;
                }
    </script>
    <script type="text/javascript">
                $(document).ready(function () {
                    var str = location.href.toLowerCase();
                    $("ul.menu li a").each(function () {
                        if (str.indexOf(this.href.toLowerCase()) >= 0) {
                            $("ul.menu li").removeClass("active");
                            $(this).parent().addClass("active");
                        }
                    });
                });
    </script>
