@model WebSaleCable.Shared.Model.Product.ProductViewModels

 <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="box-vertical-megamenus">
                    <div class="box-vertical-megamenus menu-quick-select">
                        <h4 class="title click-menu">
                            <span class="title-menu">Danh mục sản phẩm</span>
                            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                        </h4>
                        <div class="vertical-menu-content is-home">
                            @if (Model.ListCate != null && Model.ListCate.Any())
                            {
                                <ul class='vertical-menu-list'>
                                    @foreach (var item in Model.ListCate)
                                    {
                                        <li class="level0">
                                            <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = item.ID })')"><span>@item.Name</span></a>
                                        </li>
                                    }
                                    @*<li class="level0">
                                        <a class='' href='http://phukienquare.com/bang-gia-si-j852/'><span>Bảng báo giá</span></a>
                                    </li>
                                    <li class="level0">
                                        <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Thời trang</span></a>
                                    </li>
                                    <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"><span>Điện thoại & Ipad</span></a></li>
                                    <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mỹ phẩm</span></a></li>
                                    <li class="level0">
                                        <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Thể thao</span></a>
                                    </li>
                                    <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Mẹ và bé</span></a></li>
                                    <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Phụ kiện công nghệ</span></a></li>
                                    <li class="level0"><a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Laptop</span></a></li>
                                    <li class="level0">
                                        <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Trang sức</span></a>
                                    </li>
                                    <li class="level0">
                                        <a class='' href='javascript:void(0)' onclick="ShowView('@Url.Action("LoadItem", "Home", new { id = 1 })')"> <span>Sản phẩm khác...</span></a>
                                    </li>*@
                                </ul>
                            }
                            
                        </div>
                    </div>
                </div>
                <div id="main-menu-new" class="col-sm-9 col-md-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#new-menu" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="new-menu" class="navbar-collapse collapse" style="margin-left: 14px; ">
                                <ul class='menu t-menu nav'>
                                    <li class="level0"><a class='' href='/trang-chu.html'><span>Trang chủ</span></a></li>
                                    <li class="level0"><a class='' href='/gioi-thieu.html'><span>Giới thiệu</span></a></li>
                                    <li class="level0"><a class='' href='/san-pham.html'><span>Sản phẩm</span></a></li>
                                    <li class="level0"><a class='' href='/tin-tuc.html'><span>Tin tức</span></a></li>
                                    <li class="level0"><a class='' href='/lien-he.html'><span>Liên hệ</span></a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
        </div>
    </div>
    <script type="text/javascript">
                $("#btnsearch1").click(function () {
                                SearchProduct1();
                            });
                $("#txtsearch1").keydown(function (event) {
                    if (event.keyCode == 13) {
                        SearchProduct1();
                    }
                });
                function SearchProduct1() {
                    var key = $('#txtsearch1').val();
                    if (key == '' || key == 'Tìm kiếm...') {
                        $('#txtsearch1').focus();
                        return;
                    }
                    window.location = '/tim-kiem.html?key=' + key;
                }
    </script>
    <script type="text/javascript">
                $(document).ready(function () {
                    var str = location.href.toLowerCase();
                    $("ul.menu li a").each(function () {
                        if (str.indexOf(this.href.toLowerCase()) >= 0) {
                            $("ul.menu li").removeClass("active");
                            $(this).parent().addClass("active");
                        }
                    });
                });
    </script>
