<!DOCTYPE html>

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <title>CÔNG TY CỔ PHẨN SẢN XUẤT VÀ PHÁT TRIỂN CÔNG NGHỆ GB VIỆT NAM</title>
    <meta name="description" />
    <meta name="keywords" />
    <link href="/Uploads/shop2198/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="227481454296289" />

    <meta content="vi_VN" property="og:locale" />
    <meta content="website" property="og:type" />
    <meta content="C&#212;NG TY TNHH PH&#193;T TRIỂN C&#212;NG NGHỆ RUNTIME" property="og:title" />
    <meta property="og:description" />
    <meta content="http://runecom02.runtime.vn" property="og:image" />
    <meta content="http://runecom02.runtime.vn/" property="og:url" />
    <meta content="kute-shop" property="og:site_name" />
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Libaraies/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Libaraies/vendors/select2/dist/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr.min.js")"></script>

    @*<script src='/assets/100002/js/jquery.cookie.js?v=42' type='text/javascript'></script>
        <script src='/assets/100002/js/jquery.countdown.min.js?v=42' type='text/javascript'></script>
        <script src='/assets/100002/js/fancybox/jquery.fancybox.js?v=42' type='text/javascript'></script>*@
    <!--<script src='img/jquery.lazyload.js?v=42' type='text/javascript'></script> -->
    <script src="@Url.Content("~/Scripts/jquery.flexslider-min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.plugin.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.actual.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.touchSwipe.min.js")"></script>

    <!--<script src="/assets/100002/js/haravan.plugin.1.0.min.js"></script>-->
    <script async="" defer="defer" data-target=".product-resize" data-parent=".products-resize" data-img-box=".image-resize" src="/assets/100002/js/fixheightproductv2.js?v=42"></script>
    <!--------------CSS----------->
    <link href="@Url.Content("~/Libaraies/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libaraies/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/flexslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.bxslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libaraies/vendors/select2/dist/css/select2.min.css")" rel="stylesheet" />


    @*<script src="/Scripts/common/mycard.js" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.lazyload.min.js")"></script>

    <script src="@Url.Content("~/Scripts/theme-script.js")"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/responsive.css")" rel="stylesheet" />

    <style type="text/css">
        .at-latest-news ul li {
            margin-bottom: 70px;
            padding-bottom: 70px;
        }

        .glyphicon {
            margin-right: 5px;
        }

        .thumbnail {
            margin-bottom: 20px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            border: 0px solid #fff;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
        }

            .item.list-group-item .list-group-image {
                margin-right: 10px;
                border: 0px;
            }

            .item.list-group-item .thumbnail {
                margin-bottom: 0px;
            }

            .item.list-group-item .caption {
                padding: 9px 9px 0px 9px;
            }

            .item.list-group-item:nth-of-type(odd) {
                /*background: #eeeeee;*/
            }

            .item.list-group-item:before, .item.list-group-item:after {
                display: table;
                content: " ";
            }

            .item.list-group-item img {
                float: left;
            }

            .item.list-group-item:after {
                clear: both;
            }

        .list-group-item-text {
            margin: 0 0 11px;
        }

        #products img {
            width: 400px !important;
            height: 250px !important;
        }

        .list-group-item {
            padding: 0.1px 0.1px;
        }
    </style>
</head>
<body style="" class="home option2">
    <div class="wrapper page-home">
        <div id="header" class="header">
            @Html.Partial("_header")
        </div>
        <div class="main-body">
            @RenderBody()
        </div>
        <!--Footer-->
        <div class="footer">
            @Html.Partial("_footer")
        </div>

    </div>
    <div style="display: none;" id="loading-mask">
        <div id="loading_mask_loader" class="loader">
            <img alt="Loading..." src="/Images/ajax-loader-main.gif" />
            <div>
                Please wait...
            </div>
        </div>
    </div>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: none;">Scroll</a>
</body>
</html>
