@model WebSaleCable.Shared.Model.Product.ProductModels
@using WebSaleCable.Shared
@{
///Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@{ int index = 1;}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Areas/Administration/Views/Shared/_breadcrumb.cshtml",
                    new Dictionary<string, string> { { "A", "Quản lý" }, { "B", "Sản phẩm" }, { "C", "Chi tiết" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;Đóng</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">   
                                <div class="form-group">

                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Hình ảnh</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @if (!string.IsNullOrEmpty(Model.ImageURL))
                                        {
                                            <img id="upload-preview" src="@Model.ImageURL" style="width: 35%; " />
                                        }
                                        else
                                        {
                                            <img id="upload-preview" class="" src="@Commons.Image200_100" style="width: 35%; " />
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Khu vực</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.LocationName
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thể loại</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.CategoryName
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Chiều dài</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Length
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Chiều rộng</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Width
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thời gian bảo hành</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.GuaranteePeriod @Html.Raw(" tháng")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Sản xuất tại</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Production
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mã sản phẩm</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Code
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tình trạng sản phẩm</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.State
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Số lượng</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Width @Html.Raw(" cái")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Giá</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Price
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Màu sắc</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Color
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Trọng lượng</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Weight
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tình trạng hoạt động</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.IsActive ? "Đang hoạt động" : "Không hoạt động")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mô tả</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Description
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Chi tiết sản phẩm</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.MoreInformation
                                    </div>
                                </div>

                                @if (Model.ListImg != null)
                                {
                                    <div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"><b>DANH SÁCH HÌNH ẢNH</b></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <table class="table tab-content">
                                                <tbody>
                                                    @for (int i = 0; i < Model.ListImg.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>Hình số @index</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(@Model.ListImg[i].ImageURL))
                                                                {
                                                                    <img id="upload-preview-1-1" src="@Model.ListImg[i].ImageURL" style="width: 35%" />
                                                                }
                                                                else
                                                                {
                                                                    <img id="upload-preview-1-1" src="@Commons.Image400_250" style="width: 35%" />
                                                                }                                                            
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
